{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static  'templates/styles.css' %}">
        <title>Dirty Paws</title>
    </head>
    <body>
        <div class="container">
            <div class="wrapper">
                <img src="{% static 'templates/logo.png' %}" alt="Logo" height="300px">
                <h1>Dirty Paws</h1>
            </div>
        </div>
    </body>
</html>